@font-face {
    font-family: 'Coolvetica';
    src: url('./static/fonts/Coolvetica.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.app-body {
    margin: 0;
    background: #1e3144ff;
    font-family: 'Poppins', sans serif;
}

.app-header {
    margin: 0;
    background: #4567B7;
    color: white;
    padding: 10px;
}

.app-header h1{
    margin: 0;
}

.app-div-form {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.app-form {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f3f7ffff;
    align-items: center;
    height: 400px;
    width: 55%;
    min-width: 70vh;
    max-width: 800px;
    border-radius: 10px;
    position: relative;
}

.app-form input {
    border-radius: 10px;
    padding: 13px 8px;
    width: 100%;
    max-width: 800px;
    align: bottom;
    outline: none;
    position: absolute;
    bottom: 0;
    border: none;
    box-sizing: border-box;
    font-family: Poppins, sans serif;
}

.form-button-send {
    margin-top: 15px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 3px;
    border: none;
    background: none;
}

.form-button-send:hover img {
    content: url('/static/media/sendHover.svg');
}

.form-bottom {
    display: flex;
    flex-direction: inline;
    width: 100%;
    height: auto;
}

.indicator {
    background: white;
    border-radius: 30px;
    border: 3px solid #131413ff;
    padding: 10px 30px;
    margin-top: 20px;
}

.indicator.Positive {
    background: green;
}

.indicator.Negative {
    background: red;
}

.indicator.Irrelevant {
    background: yellow;
}

.indicator.Neutral {
    background: gray;
}

.scroll-msg {   
    height: 90%;
    width: 100%;
    overflow-y: auto;
    margin: 8px 0px 50px 0px;
}

.conteiner-msg {
    height: auto;
    width: 100%;
    display: grid;
    grid-direction: column;
}

.sender-msg {
    justify-self: end;
    background: #3b86f6ff;
    padding: 5px 13px;
    border-radius: 8px;
    color: white;
    margin: 6px 10px 3px 10px;
}

.recipient-msg {
    justify-self: start;
    background: #878787ff;
    padding: 5px 13px;
    border-radius: 8px;
    color: white;
    margin: 6px 10px 3px 10px;
}

