
.app-body {
    margin: 0;
    background: #1e3144ff;
}

.app-header {
    margin: 0;
    background: #4567B7;
    color: white;
    padding: 10px;
}

.app-header h1{
    margin: 0;
}

.app-div-form {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.app-form {
    margin: 0;
    display: flex;
    flex-direction: inline;
    justify-content: center;
    background: #f3f7ffff;
    align-items: center;
    height: 400px;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    position: relative;
}

.app-form input {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    align: bottom;
    position: absolute;
    bottom: 0;
    border: none;
    box-sizing: border-box;
}

.app-form button {
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #4567B7;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}

.indicator {
    background: white;
    border-radius: 30px;
    border: 3px solid #131413ff;
    padding: 10px 30px;
    margin-top: 20px;
}

.indicator.positive {
    background: green;
}

.indicator.negative {
    background: red;
}

.indicator.irrelevant {
    background: yellow;
}

.indicator.neutral {
    background: gray;
}

.scroll-msg {   
    height: 100%;
    width: 100%;
    position: absolute;
}

.conteiner-msg {
    height: auto;
    width: 100%;
    display: grid;
    grid-direction: column;
}

.sender-msg {
    justify-self: end;
    background: #3b86f6ff;
    padding: 5px 13px;
    border-radius: 8px;
    color: white;
    margin: 10px;
}

.recipient-msg {
    justify-self: start;
    background: #878787ff;
    padding: 5px 13px;
    border-radius: 8px;
    color: white;
    margin: 10px;
}