<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENTIMENT ANALYSIS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
</head>
<body class="app-body">
    <header class="app-header">
        <h1>Analysis Sentiment</h1>
    </header>
    <main class="app-main">
        <div class="app-div-form">
            <form id="app-form" class="app-form" method="POST" action="/predict">
                <div id="scroll-msg" class="scroll-msg">
                    <div id="conteiner-msg" class="conteiner-msg">
                        <div class="sender-msg">Sender receiver the messager for you</div>
                    </div>
                </div>
            
                <div class="form-bottom">
                    <input name="text" type="text" placeholder="Type your text">
                    <button>Send</button>
                </div>
                
                
            </form>
            <div class="indicator {{ result }}">{{ result.capitalize() }}</div>
            
        </div>
    </main>
    <footer></footer>
    <script src="../static/js/script.js">
    </script>
    <script>
        const predict = '{{ result }}';
        function createDivMsg(text, predict){
            if (predict != NaN) {
                const sender = document.createElement('div');
                sender.textContent = text;
                sender.classList = ['sender-msg'];
                document.getElementById('conteiner-msg').appendChild(sender);
                const recipient = document.createElement('div');
                recipient.textContent = predict;
                recipient.classList = ['recipient-msg'];
                document.getElementById('conteiner-msg').appendChild(recipient);
            }

        }
        document.getElementById('app-form').addEventListener('submit', function(event) {
        const formData = new FormData(this);
        const text = formData.get('text'); // pega o valor do input que você quer
        createDivMsg(text, predict);
        
        
       
        });
    </script>
</body>
</html>