<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENTIMENT ANALYSIS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>
<body class="app-body">
    <header class="app-header">
        <h1>Analysis Sentiment</h1>
    </header>
    <main class="app-main">
        <div class="app-div-form">
            <form id="app-form" class="app-form">
                <div id="scroll-msg" class="scroll-msg">
                    <div id="conteiner-msg" class="conteiner-msg">
                        <div class="sender-msg">Sender receiver the messager for you</div>
                    </div>
                </div>
            
                <div class="form-bottom">
                    <input name="text" type="text" placeholder="Type your text">
                    <button>Send</button>
                </div>
                
                
            </form>
            
        </div>
    </main>
    <footer></footer>
    <script src="../static/js/script.js">
    </script>
    <script>
        function scrollBotoom(){
            const element = document.getElementById("scroll-msg");
            element.scrollTop = element.scrollHeight;
        }
        function createDivMsg(text, predict){
            if (predict != NaN) {
                const sender = document.createElement('div');
                sender.textContent = text;
                sender.classList = ['sender-msg'];
                document.getElementById('conteiner-msg').appendChild(sender);
                const recipient = document.createElement('div');
                recipient.textContent = predict;
                recipient.classList = ['recipient-msg'];
                document.getElementById('conteiner-msg').appendChild(recipient);
            }
        };
        const form = document.getElementById('app-form');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            console.log("teste");
            const formData = new FormData(form);
            const res = await fetch('/predict', {
                method: 'POST',
                body: formData
            });
            const data = await res.json();
            createDivMsg(formData.get('text'),data.result);
            scrollBotoom();

        
        });


    </script>
</body>
</html>