<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENTIMENT ANALYSIS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
</head>
<body class="app-body">
    <header class="app-header">
        <h1>Analysis Sentiment</h1>
    </header>
    <main class="app-main">
        <div class="app-div-form">
            <form class="app-form" method="POST" action="/predict">
                <div id="scroll-msg" class="scroll-msg">
                    <div class="conteiner-msg">
                        <div class="sender-msg">Sender receiver the messager for you</div>
                        <div class="recipient-msg">Recipient receiver the aors message</div>
                        <div class="sender-msg">Sender receiver the messager for you</div>
                        <div class="recipient-msg">Recipient receiver the aors message</div>
                        <div class="sender-msg">Sender receiver the messager for you</div>
                        <div class="recipient-msg">Recipient receiver the aors message</div>
                        <div class="sender-msg">Sender receiver the messager for you</div>
                        <div class="recipient-msg">Recipient receiver the aors message</div>
                        <div class="sender-msg">Sender receiver the messager for you</div>
                        <div class="recipient-msg">Recipient receiver the aors message2</div>
                    </div>
                </div>
            
                <div class="form-bottom">
                    <input name="text" type="text" placeholder="Type your text">
                    <button>Send</button>
                </div>
                
                
            </form>
            <div class="indicator {{ result }}">{{ result.capitalize() }}</div>
            
        </div>
    </main>
    <footer></footer>
    <script src="../static/js/script.js">
    </script>
</body>
</html>